# **Taller 1**
## Carlos Fernando Gonzalez Sarmiento

## Ejercicio 1:

Cree una función que transforme grados Fahrenheit a grados centígrados

In [154]:
def centi(a):
  b=(a-32)/1.8
  print("Los",a,"grados Farenheith convertidos en grados centigrados, son:",b," grados.")

In [156]:
centi(0)

Los 0 grados Farenheith convertidos en grados centigrados, son: -17.77777777777778  grados.

## Ejercicio 2:

Escribir un programa que almacene la cadena de caracteres contraseña en una variable, 
pregunte al usuario por la contraseña e imprima por pantalla si el valor es correcto o no en función 
de los siguientes aspectos:

1. Falta al menos un carácter numérico
2. Falta al menos uno de los siguientes carácter especiales : *, _ , !, $, % 
3. Falta al menos una mayúscula

In [159]:
import re
a=input("Escriba su contraseña: ")

if(a!="contraseña"): 
  

  if type(re.search('[A-Z]',a))==type(re.search('[A-Z]',"A")):

    print("Ya fue introducida al menos una mayúscula")
  else:

    print("No ha introducido al menos una mayúscula, intente de nuevo")
  if(type(re.search('[1-9]',a))==type(re.search('[A-Z]',"A"))):
    
    print("Ya hay al menos un numero")
  else:

    print("No ha introducido al menos un número, intente de nuevo")
  if(type(re.search('[*_ ! $ %]',a))==type(re.search('[A-Z]',"A"))):
    
    print("Ya hay al menos un caracter especial")

    if(type(re.search('[1-9]',a))==type(re.search('[A-Z]',"A"))):
      if(type(re.search('[1-9]',a))==type(re.search('[A-Z]',"A"))):

        print("Su contraseña:",a,",ha sido aceptada")


  else:

    print("No ha introducido al menos un caracter especial, como estos: *, _ , !, $, %, intente de nuevo") 

else:
  print("Te hace falta, al menos un numero, al menos una mayúscula y alguno de estos caracteres:*, _ , !, $, % ")

Escriba su contraseña: A9$
Ya fue introducida al menos una mayúscula
Ya hay al menos un numero
Ya hay al menos un caracter especial
Su contraseña: A9$ ,ha sido aceptada

## Ejercicio 3

Laura y Sebastián vieron una promoción en Buscalibre dónde por la compra de 2 libros te llevas el 
tercero de menor valor. Ellos quieren analizar si hay una forma de adquirir 6 libros en dónde 
puedan sacar la mayor ganancia posible. Las opciones de libros son los siguientes:

• Libro 1 por $50.000

• Libro 2 por $30.000

• Libro 3 por $80.000

• Libro 4 por $20.000

• Libro 5 por $100.000

• Libro 6 por $40.000

Escriba un programa que arroje cual debería ser la combinación de libros adecuada para ahorrar lo 
máximo posible.

Ejemplo de Salida:

• Combinación de libros 1: Libro 1, 4 y 6.

• Combinación de libros 2: Libro 2, 3, 5.

• Total de dinero ahorrado: “Total de libros” – “Descuento de promoción”.

Para este ejercicio encontré dos caminos, uno haciendo las combinatorias paso a paso y otro con una librería, en ambas se llegó a las mismas conclusiones.

### Camino A

In [160]:
l1=50000
l2=30000
l3=80000
l4=20000
l5=100000
l6=40000

In [161]:
a=[l1+l2+l3-min(l1,l2,l3),
l4+l5+l6-min(l4,l5,l6),
l1+l2+l4-min(l1,l2,l4),
l1+l2+l5-min(l1,l2,l5),
l1+l2+l6-min(l1,l2,l6),
l1+l3+l4-min(l1,l3,l4),
l1+l3+l5-min(l1,l3,l5),
l1+l3+l6-min(l1,l3,l6),
l1+l4+l5-min(l1,l4,l5),
l1+l4+l6-min(l1,l4,l6),
l1+l5+l6-min(l1,l5,l6),
l2+l3+l4-min(l4,l3,l4),
l2+l3+l5-min(l2,l3,l5),
l2+l3+l6-min(l2,l3,l6),
l2+l4+l5-min(l2,l4,l5),
l2+l4+l6-min(l2,l4,l6),
l2+l5+l6-min(l2,l5,l6),
l3+l4+l5-min(l3,l4,l5),
l3+l4+l6-min(l3,l4,l6),
l3+l5+l6-min(l3,l5,l6)]

In [162]:
min(a)

70000

In [163]:
a

[130000,
 140000,
 80000,
 150000,
 90000,
 130000,
 180000,
 130000,
 150000,
 90000,
 150000,
 110000,
 180000,
 120000,
 130000,
 70000,
 140000,
 180000,
 120000,
 180000]

In [164]:
a9=[a[0]+a[1],
a[2]+a[19],
a[3]+a[18],
a[4]+a[17],
a[5]+a[16],
a[6]+a[15],
a[7]+a[14],
a[8]+a[13],
a[9]+a[12],
a[10]+a[11]]

In [165]:
a9

[270000,
 260000,
 270000,
 270000,
 270000,
 250000,
 260000,
 270000,
 270000,
 260000]

In [166]:
print("La combinación 1 de libros es: ",l2,l4,l6," respectivamente los libros 2,4 y 6, pagando con el descuento $",a[15],"Y ahorrandose $",min(l2,l4,l6))
print("La combinación 2 de libros es: ",l1,l3,l5, "siendo los libros 1,3 y 5, pagando con el descuento $",a[6],"Y ahorrandose $",min(l1,l3,l5))
print("Para finalmente terminar pagando $",a[6]+a[15],"y con un descuento final de $",min(l2,l4,l6)+min(l1,l3,l5))

La combinación 1 de libros es:  30000 20000 40000  respectivamente los libros 2,4 y 6, pagando con el descuento $ 70000 Y ahorrandose $ 20000
La combinación 2 de libros es:  50000 80000 100000 siendo los libros 1,3 y 5, pagando con el descuento $ 180000 Y ahorrandose $ 50000
Para finalmente terminar pagando $ 250000 y con un descuento final de $ 70000

### Camino B

In [167]:
from itertools import combinations
a2=[l1,l2,l3,l4,l5,l6]
tresx2=combinations(a2,3)

i=0
a5=[]
for i in list(tresx2):
  for j in range(0,1):
  
    print(i)

(50000, 30000, 80000)
(50000, 30000, 20000)
(50000, 30000, 100000)
(50000, 30000, 40000)
(50000, 80000, 20000)
(50000, 80000, 100000)
(50000, 80000, 40000)
(50000, 20000, 100000)
(50000, 20000, 40000)
(50000, 100000, 40000)
(30000, 80000, 20000)
(30000, 80000, 100000)
(30000, 80000, 40000)
(30000, 20000, 100000)
(30000, 20000, 40000)
(30000, 100000, 40000)
(80000, 20000, 100000)
(80000, 20000, 40000)
(80000, 100000, 40000)
(20000, 100000, 40000)

In [168]:
a5=[(50000, 30000, 80000),
(50000, 30000, 20000),
(50000, 30000, 100000),
(50000, 30000, 40000),
(50000, 80000, 20000),
(50000, 80000, 100000),
(50000, 80000, 40000),
(50000, 20000, 100000),
(50000, 20000, 40000),
(50000, 100000, 40000),
(30000, 80000, 20000),
(30000, 80000, 100000),
(30000, 80000, 40000),
(30000, 20000, 100000),
(30000, 20000, 40000),
(30000, 100000, 40000),
(80000, 20000, 100000),
(80000, 20000, 40000),
(80000, 100000, 40000),
(20000, 100000, 40000)]

a6=[0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0]
for i in range(0,len(a5)):
  a6[i]=sum(a5[i])-min(a5[i])

In [169]:
a6

[130000,
 80000,
 150000,
 90000,
 130000,
 180000,
 130000,
 150000,
 90000,
 150000,
 110000,
 180000,
 120000,
 130000,
 70000,
 140000,
 180000,
 120000,
 180000,
 140000]

Parece ser que las combinaciones con menor valor y distintas son la 6 y la 15

In [170]:
print("La combinación 1 de libros es: ",l1,l3,l5," respectivamente los libros 1,3 y 5, pagando con el descuento $",a6[5],"Y ahorrandose $",min(l1,l3,l5))
print("La combinación 2 de libros es: ",l2,l4,l6, "siendo los libros 1,3 y 5, pagando con el descuento $",a6[14],"Y ahorrandose $",min(l2,l4,l6))
print("Para finalmente terminar pagando $",a6[5]+a6[14],"y con un descuento final de $",min(l2,l4,l6)+min(l1,l3,l5))

La combinación 1 de libros es:  50000 80000 100000  respectivamente los libros 1,3 y 5, pagando con el descuento $ 180000 Y ahorrandose $ 50000
La combinación 2 de libros es:  30000 20000 40000 siendo los libros 1,3 y 5, pagando con el descuento $ 70000 Y ahorrandose $ 20000
Para finalmente terminar pagando $ 250000 y con un descuento final de $ 70000

Cabe recalcar que para evitar conflictos con la profesora, la ecuación:

Total de dinero ahorrado: “Total de libros” – “Descuento de promoción”.

No es valida ya que esto sería lo que se gastó para comprar los libros, mas no el ahorro total, sería ahorro total si se le restara al precio total el precio con el descuento, que esta es la suma de los valores minimos de cada libro de cada combinación.